* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 1rem;
	font-family: sans-serif;
}

main {
	padding: 100px 0	;
	max-width: 500px;
	margin: 0 auto;
}

ol {
	list-style: none;
}

button {
	background: #3498db;
	outline: none;
	border: none;
	padding: 8px;
	font-weight: 600;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	transition: all 300ms ease;
}

button:hover {
	background: #2980b9;
}

#calculate {
	display: block;
	margin-top: 0.75rem;
	margin-bottom: 2rem;
}

label {
	display: block;
}

#results {
	display: none;
}

h2 {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

ol li {
	font-weight: 500;
}

li span {
	font-weight: 400;
}